<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>

  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>

<div class="false-menu"></div>

<div class="under-menu">
  <h1 class="under-title">Massages</h1>
  <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>

<div class="container">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    BON CADEAU
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Donner un prix à votre bon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="2" data-slider-max="78" data-slider-step="1" data-slider-value="5"/>
          <!-- <span id="ex1CurrentSliderValLabel"><span id="ex1SliderVal"></span></span> -->
        </div>
        <div class="modal-footer">
          <%= form_for([@bc_massage, @order_item], remote: true) do |f| %>
           <%= f.hidden_field :orderitemable_type, value: "Massage" %>
           <%= f.hidden_field :orderitemable_id, value: @bc_massage.id %>
           <%= f.hidden_field :quantity, value: 1 %>
           <% @order_item = @boncadeau %>
           <% p @order_item %>
           <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %>
          <% end %>
          <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Offrir</button> -->
        </div>
      </div>
    </div>
  </div>

  <p>« C’est par notre peau, grâce au toucher, que nous ressentons, aimons, détestons »

J.Lionel Taylor, 1921.<br />
Le massage de relaxation utilise plusieurs techniques de massages traditionnelles du monde pour en faire un massage détente et bien-être. Il se compose de mouvements fluides, continus et enveloppants, de longs effleurages et pétrissages et de mouvements glissés pouvant aller en profondeur dans les tissus. Il s’effectue avec des l’huiles essentielles.
Les bienfaits sont nombreux et variés. Le massage est un support au bien-être physique, nerveux, émotionnel et mental, il contribue en ce sens à :

Une meilleure irrigation des tissus grâce aux manoeuvres de drainage de la circulation veineuse et de la circulation lymphatique.
Un retour à l'équilibre nerveux dû à l'effet d'apaisement provoqué par la stimulation de nombreuses terminaisons nerveuses.
Les effets
Evacuation du stress
Libération des tensions et des raideurs musculaires
Gain d'énergie </p>
  <div class="makeup-container">
    <div class="card-wrapper">
      <% @massages.each do |massage| %>
        <div class="cards">
          <% if policy(Massage).destroy? %>
            <p>
              <%= link_to massage_path(massage), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </p>
          <% end %>
          <div class="presta-name">
              <%= massage.name %><%#<%= " " if massage.description != "" %>
              <%#<%= massage.description %><%= " " if massage.price != "" %>
          </div>
          <div class="presta-price">
            <%= form_for([massage, @order_item], remote: true) do |f| %>
              <%= f.hidden_field :orderitemable_type, value: "Massage" %>
              <%= f.hidden_field :orderitemable_id, value: massage.id %>
              <%# <div class="form-group"> %>
                <%= f.hidden_field :quantity, value: 1, min: 1, class: 'form-control' %>
              <%# </div> %>
              <%# <div class="service-price">
                <span class="price"> %>
                 <%= humanized_money_with_symbol(massage.price) %>
                <%# </span> %>
                <%= f.submit "Offrir", class: 'btn btn-ghost2 btn-sm' %>
            <% end %>
          </div>
          
        </div>
      <% end %>
    </div>
    <div class="massage-bann"></div>
  </div>
  <% if policy(Massage).new? %>
    <p>
      <%= link_to "Nouvelle Prestation", new_massage_path %>
    </p>
  <% end %>
</div>


