    
     <div class="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                           <li><%= link_to "Epilations", epilations_path %></li>
                            <li><%= link_to "Massages", massages_path %></li>
                            <li><%= link_to "Soins", soinvisages_path %></li>
                            <li><%= link_to "Maquillage Permanent", maquillages_path %></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>A Propos</h3>
                        <ul>
                            <li><%= link_to "Mentions légales", legal_path%></li>
                            <li><%= link_to "Contact", salons_path%></li>
                            <li><%= link_to "Login", new_user_session_path %></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Relook Esthetique</h3>
                        <p>Relook Esthétique, à Tarascon, est un institut spécialisé dans le maquillage permanent. <br />Vous souhaitez retrouver des lèvres sensuelles ? Un regard intense ? <br />Accordez-vous une pause beauté chez Relook Esthétique. Nous vous proposons un maquillage naturel et harmonieux en toute circonstance.</p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/relookesthetique/"><i class="fab fa-facebook"></i></a></div>
                </div>
                <p class="copyright">Berty's Angels © 2021</p>
            <div class="col item social"><a href="https://github.com/delarita"><i class="fab fa-github"></i></a><a href="https://github.com/berty75"><i class="fab fa-github"></i></a><a href="https://github.com/alexorciste"><i class="fab fa-github"></i></i></a></div>
            </div>
        </footer>
    </div>   
    
    
    
