<div class="menu-mobile">
        <%# <div class="logo-mobile-menu">
            <img class = "d-block w-75" src ="https://res.cloudinary.com/dsmxleyf5/image/upload/v1613217013/vhp7i4i7d4darfxrd8by.png" alt="logo-relook-estehetique">
        </div> %>

    <nav class="navmenu2">
            <h4 class="text center", style="font-family: Montserrat" >RELOOK ESTHETIQUE</h4>
            <li><%= link_to "ACCUEIL", root_path%></li>
            <li><%= link_to "CONTACT", salons_path%></li>
            <li><%= link_to " PATRICIA SERIE", about_path%></li>
            <li><%= link_to "EPILATIONS", epilations_path %></li>

            <li><%= link_to " MASSAGES", massages_path %></li>

            <li><%= link_to "SOINS", soinvisages_path %></li>

            <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

        </nav>

</div>