
<div class="navmenu-presta">
            
                
                <li><%= link_to "EPILATIONS", epilations_path %></li>
                <li><%= link_to "MASSAGES", massages_path %></li>
                <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
                <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

</div>

<div class="false-menu"></div>
<div class="under-menu">
     <h1 class="under-title">Nous trouver</h1>
</div>


<div class="container">
     <div class="map-container">


          <div class="contact-infos">

               <div class="titre">
                    <h1>RELOOK
                    ESTHETIQUE</h1>
               </div>

               <div class="adresse">
                   <i class="contact-icon fas fa-map-marker-alt"></i><h3 class="contact-text">Adresse</h3> <br />
                   <p>225 Chemin Saint-Georges, Residence Lou Casteu<br />
                    13150 Tarascon </p> 

                    <i class="contact-icon fas fa-phone-alt"></i><h3 class="contact-text">Téléphone</h3>
                    <p><a class="contact-link" href="tel:+33490910473">04 90 91 04 73</a> <br /> 
                    <a class="contact-link" href="tel:+33613577158">06 13 57 71 58</a>
                    </p>

                    <i class="contact-icon fas fa-at"></i>
                    <h3 class="contact-text">Courriel</h3>
                     <p><a class="contact-link" href="mailto:patou@relook.com">Nous contacter par mail</a></p>

                     <i class="contact-icon far fa-clock"></i><h3 class="contact-text">Horaires d'ouverture</h3>
                     <p>du lundi au samedi non stop</p>
               </div>

          </div>

          <div id="map"
               style="width: 40vw; height: 30vw;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
     </div>
</div>