<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>
  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>


<div class="false-menu"></div>
<div class="under-menu">
<h1 class="under-title">Mes Commandes</h1>
<span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>
<div class="container">

<% @orders.each do |order| %>
<ul class="orders">
  <li>N° de commande: <%= link_to order.id, order_path(order)%></li>
  <li>Effectuée le: <%= order.updated_at.to_formatted_s(:short)%></li>
  <li>Montant: <%= order.subtotal_price_cents/100%>€</li>
  <li> Statut: <% if order.state == "pending" %>
  En attente de paiement
  <% else %>
  Commande payée
  <% end %>
  </li>
  <li>
    <% if policy(order).destroy? %><%= link_to "Supprimer la commande", order_path(order),method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
</ul>
<% end %>
</div>
