<div class="navmenu-presta">
            
                <%# <li><%= link_to "ACCUEIL", root_path%>
                <%# </li> %> 
                <%# <li><a href="#about">A PROPOS</a></li> %>
                <li><%= link_to "EPILATIONS", epilations_path %></li>
                <li><%= link_to "MASSAGES", massages_path %></li>
                <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
                <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

            </div>
<div class="false-menu"></div>
<div class="under-menu">
<h1 class="text-center">Patricia Serie</h1>
</div>
<div class="container">
    <div class="about-container">
        <div class="pic">
            <%# <img src="https://coolwallpapers.me/picsup/2611782-monica-bellucci-cool-wallpaper-for-pc.jpg" alt="patou"> %>
        </div>

        <div class="bio">

            <p>Créatrice de RELOOK ESTHETIQUE, je bénéficie d’un long cursus professionnel dans le domaine de l’esthétique, du bien-être et du maquillage permanent. </p>
            <p>Je travaille sur la communication par l’image pour l’épanouissement de la personne au niveau de son développement personnel.
            Mes valeurs « Etre en Harmonie & en Cohérence » avec l’image que l’on reflète.</p>
            <p>Particulièrement sensibilisée aux interactions du monde vivant, j’essaie de vous enrichir par ma pratique professionnelle et ma vision avant-gardiste de « l’être » et du « paraître » en respectant votre personnalité.

            Je reste toujours à l’écoute de vos attentes & besoins.</p>

            <h2>La Beauté sur Mesure</h2>
            <p>C’est évidemment le Look & le Style qui vous est propre et qui vous rend unique.</p>

            <p>Mon objectif « Vous rendre encore plus belle au quotidien »</p>
        </div>
        
        
    </div>
</div>