

<div class = "header">
    <div class = "logorelook">
    </div>
    <%# <h1>RELOOKESTHETIC</h1> %>
    <nav class="navmenu">
        <li>ACCUEIL</li>
        <li>A PROPOS</li>
        <li><%= link_to "EPILATIONS", epilations_path %></li>
        <li><%= link_to " MASSAGES", massages_path %></li>
        <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
        <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

    </nav>
</div>

<%# <div class="mainpage"></div> %>

<div class = "bloc">
    <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1487412912498-0447578fcca8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="soinvisage">


    <div class="text">
      <h2 class = "text-center">Maquillage Permanent</h2>
      <p class= "text-edit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla quaerat delectus, dolorum nam magnam in maxime amet assumenda corrupti obcaecati enim accusantium consequuntur. Quam explicabo asperiores consequatur natus numquam!</p>
    </div>
</div>

<div class = "bloc">
    <div class="text">
      <h2 class = "text-center">Massage</h2>
            <p class= "text-edit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla quaerat delectus, dolorum nam magnam in maxime amet assumenda corrupti obcaecati enim accusantium consequuntur. Quam explicabo asperiores consequatur natus numquam!</p>

    </div>
    <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1600334129128-685c5582fd35?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="soinvisage">

</div>

<div class = "bloc">
    <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="soinvisage">
    <div class="text">
      <h2 class = "text-center">Soins du Visage</h2>
            <p class= "text-edit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla quaerat delectus, dolorum nam magnam in maxime amet assumenda corrupti obcaecati enim accusantium consequuntur. Quam explicabo asperiores consequatur natus numquam!</p>

    </div>
</div>

<div class = "bloc">
     <div class="text">
        <h2 class = "text-center">Épilations</h2>
              <p class= "text-edit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla quaerat delectus, dolorum nam magnam in maxime amet assumenda corrupti obcaecati enim accusantium consequuntur. Quam explicabo asperiores consequatur natus numquam!</p>

     </div>
    <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1529982412356-901cc3a363cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="soinvisage">
</div>

<div class="menu-button"><i class="fas fa-bars fa-3x"></i></div>
<div class="menu-mobile">
    <nav class="navmenu2">
            <li>ACCUEIL</li>
            <li>A PROPOS</li>
            <li><%= link_to "EPILATIONS", epilations_path %></li>

            <li><%= link_to " MASSAGES", massages_path %></li>

            <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>

            <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

        </nav>
<%# <div class="close-button"><i class="fas fa-bars fa-3x"></i></div> %>
</div>