<%# <%= form_for([@epil, @order_item], remote: true) do |f| %>
  <%# <%= f.hidden_field :orderitemable_type, value: "Epilation" %> 
  <%# <%= f.hidden_field :orderitemable_id, value: @epil.id %> 
  <%# <%= f.hidden_field :quantity, value: 1 %> 
  <%# <% @order_item = @boncadeau %> 
  <%# <% p @order_item %> 
  <%# <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %> 
<%# <% end %> 


<div class = "header">
        <%# <img class = "logo d-block w-50" src ="https://res.cloudinary.com/dsmxleyf5/image/upload/v1613289605/kvlqsvpyolecer9fsh8q.png" alt="logo"> %>
    <div class="title-landscape">
    <h1 class="text-center">RELOOK ESTHETIQUE</h1>
    </div>

    <%# <h1>RELOOKESTHETIC</h1> %>

     <%# <div class="leftpannel"></div> %>
    <div class="menu-container">
    
            <div class="titre">
                <h1>RELOOK<br />
                ESTHETIQUE</h1>
            </div>
            <div class="phone-number">
              <h2>04 90 91 04 73</h2>
            </div>
            
            <div class="navmenu">
                
                <%# <li><%= link_to "ACCUEIL", root_path%>
                <%# </li>  
                <%# <li><a href="#about">A PROPOS</a></li> %>
                <li><%= link_to "EPILATIONS", epilations_path %></li>
                <li><%= link_to "MASSAGES", massages_path %></li>
                <li><%= link_to "SOINS", soinvisages_path %></li>
                <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

            </div>
            
            <div class="logo">
                    <img class = "d-block w-50" src ="https://res.cloudinary.com/dsmxleyf5/image/upload/v1613315589/pitymo5xrp0es3yjn6ey.png" alt="logo">
            </div>
<div class = "contact-banner"> <%=link_to "Je prends rendez-vous", new_contacts_path, class: "btn btn-ghost"%>  </div>

            
    </div>
<h1 class="title-mobile">RELOOK ESTHETIQUE<h1>
</div>

</div>
<%# <div class="mainpage"></div> %>

<div class="container">
<div class = "bloc">
    <div class="text-bloc">
      <h2 class = "text-center">Maquillage Permanent</h2>
      <h3 class = "text-center">~</h3>
      <p class = "text-center">Vous désirez avoir bonne mine même au réveil ? Envie d’un maquillage durable ? Grâce à Relook Esthétique, offrez-vous un moment purement féminin.</p>
      <%= link_to "Plus d'infos", maquillages_path, class: "btn btn-ghost" %> 
    </div>

    <%# <div class="img-bloc1"> %>
    <%# <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1487412912498-0447578fcca8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="soinvisage"> %>

    
    



    <%# <div class="img-bloc2"> %>
    <%# <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1600334129128-685c5582fd35?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="soinvisage"> %>
    <%# </div> %>
    <div class="text-bloc">
      <h2 class = "text-center">Massage</h2>
      <h3 class = "text-center">~</h3>
        <p class = "text-center">Évacuez votre stress et gagnez en énergie. Par le biais du massage, la découverte est double: l'éveil de la sensibilité et la redécouverte du plaisir.</p>
        <%= link_to "Plus d'infos", massages_path, class: "btn btn-ghost" %> 
    </div>
</div>
</div>
    <div class="img-bloc2"></div>
    <div class="img-bloc1"></div>
<div class="container">
<div class = "bloc">


    <%# <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="soinvisage"> %>
    <div class="text-bloc">
      <h2 class = "text-center">Soins</h2>
       <h3 class = "text-center">~</h3>
            <p class = "text-center" >Aidez votre peau à se préserver et à lutter efficacement contre les signes du temps. Notre gamme comprend une large palette de produits cosmétiques naturels 100% Bio à base d’Aloe vera et d’Alginates (algues) répondant aux besoins de toutes les peaux.</p>
         <%= link_to "Plus d'infos", soinvisages_path, class: "btn btn-ghost" %>
    </div>

    <%# <div class="img-bloc3"></div> %>



<%# <div class="img-bloc4"></div> %>
     <div class="text-bloc">
        <h2 class = "text-center">Épilations</h2>
        <h3 class = "text-center">~</h3>
              <p class = "text-center">Nous utilisons les produits PERRONT RIGOT, pionnier et expert de l’épilation. Cette gamme répond à tous les besoins de façon ciblée et adaptée par ses différentes cires. Après chaque épilation, des soins « ralentisseurs de pousse de poils » et « spécial poils incarnés » sont utilisés.</p>
            <%= link_to "Plus d'infos", epilations_path, class: "btn btn-ghost" %> 

     </div>
    <%# <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1529982412356-901cc3a363cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="soinvisage"> %>

</div>
<h2 class = "text-center review-title">Témoignages</h2>
<h3 class = "text-center">~</h3>

<div class="reviews">
<%@reviews.each do |review| %>
<div class ="review-cards text-center">
<% 5.times do %>
<i class="fas fa-star"></i> 
<% end %> <br /><br />
<%= review.text %>

</div>
<% end %> 

<% @reviews_names.each do |name| %>
<div class ="review-names text-center">
<%= name.text %>
</div>

 <% end %> 

</div>
<div class="reviews-buttons">
<a class="btn-ghost padding-btn-review" href="https://search.google.com/local/writereview?placeid=ChIJpzLLeWDctRIRlu2b9NQ2_pw" target="_blank">Rédiger un avis</a>
<a class="btn-ghost padding-btn-review" href="https://search.google.com/local/reviews?placeid=ChIJpzLLeWDctRIRlu2b9NQ2_pw" target="_blank">Voir tous les avis</a>
</div>
</div>
<%# <div class="call-button"><a href="tel:+33500000000"><i class="fas fa-phone"></a></i></div> %>


