<%= form_for([@epil, @order_item], remote: true) do |f| %>
  <%= f.hidden_field :orderitemable_type, value: "Epilation" %>
  <%= f.hidden_field :orderitemable_id, value: @epil.id %>
  <%= f.hidden_field :quantity, value: 1 %>
  <% @order_item = @boncadeau %>
  <% p @order_item %>
  <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %>
<% end %>

<div class = "header">
    <div class = "logorelook">
    </div>
    <%# <h1>RELOOKESTHETIC</h1> %>
    <nav class="navmenu">

        <li><%= link_to "ACCUEIL", root_path%></li>
        <li><a href="#about">A PROPOS</a></li>
        <li><%= link_to "EPILATIONS", epilations_path %></li>
        <li><%= link_to " MASSAGES", massages_path %></li>
        <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
        <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

    </nav>
</div>

<%# <div class="mainpage"></div> %>

<div class = "bloc1">

    <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1487412912498-0447578fcca8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="soinvisage">


    <div class="text">
      <h2 class = "text-center">Maquillage Permanent</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla quaerat delectus, dolorum nam magnam in maxime amet assumenda corrupti obcaecati enim accusantium consequuntur. Quam explicabo asperiores consequatur natus numquam!</p>
    </div>
</div>

<div class = "bloc">
    <div class="text">
      <h2 class = "text-center">Massage</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla quaerat delectus, dolorum nam magnam in maxime amet assumenda corrupti obcaecati enim accusantium consequuntur. Quam explicabo asperiores consequatur natus numquam!</p>

    </div>
    <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1600334129128-685c5582fd35?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="soinvisage">

</div>

<div class = "bloc1">
    <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1570172619644-dfd03ed5d881?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="soinvisage">
    <div class="text">
      <h2 class = "text-center">Soins du Visage</h2>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla quaerat delectus, dolorum nam magnam in maxime amet assumenda corrupti obcaecati enim accusantium consequuntur. Quam explicabo asperiores consequatur natus numquam!</p>

    </div>
</div>

<div class = "bloc">
     <div class="text">
        <h2 class = "text-center">Épilations</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nulla quaerat delectus, dolorum nam magnam in maxime amet assumenda corrupti obcaecati enim accusantium consequuntur. Quam explicabo asperiores consequatur natus numquam!</p>

     </div>
    <img class = "d-block w-100" src ="https://images.unsplash.com/photo-1529982412356-901cc3a363cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="soinvisage">
</div>

<div class="menu-button"><i class="fas fa-bars fa-3x"></i></div>
<div class="call-button"><a href="tel:+33500000000"><i class="fas fa-phone"></a></i></div>
<div class="menu-mobile">
    <nav class="navmenu2">
            <li>ACCUEIL</li>
            <li>A PROPOS</li>
            <li><%= link_to "EPILATIONS", epilations_path %></li>

            <li><%= link_to " MASSAGES", massages_path %></li>

            <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>

            <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

        </nav>
<%# <div class="close-button"><i class="fas fa-bars fa-3x"></i></div> %>
</div>
<div id="about">
<h1 class="text-center">Patricia Serie</h1>
<div class=container>

    <div class="bio">

        <p>Créatrice de RELOOK ESTHETIQUE, je bénéficie d’un long cursus professionnel dans le domaine de l’esthétique, du bien-être et du maquillage permanent. </p>
        <p>Je travaille sur la communication par l’image pour l’épanouissement de la personne au niveau de son développement personnel.
        Mes valeurs « Etre en Harmonie & en Cohérence » avec l’image que l’on reflète.</p>
        <p>Particulièrement sensibilisée aux interactions du monde vivant, j’essaie de vous enrichir par ma pratique professionnelle et ma vision avant-gardiste de « l’être » et du « paraître » en respectant votre personnalité.

        Je reste toujours à l’écoute de vos attentes & besoins.</p>

        <h2>La Beauté sur Mesure</h2>
        <p>C’est évidemment le Look & le Style qui vous est propre et qui vous rend unique.</p>

        <p>Mon objectif « Vous rendre encore plus belle au quotidien »</p>
    </div>
    <div class="pic">
    <img class="patricia" src="https://coolwallpapers.me/picsup/2611782-monica-bellucci-cool-wallpaper-for-pc.jpg" alt="patricia">
    </div>
</div>
</div>
