<div class="navmenu-presta">
            
                
                <li><%= link_to "EPILATIONS", epilations_path %></li>
                <li><%= link_to "MASSAGES", massages_path %></li>
                <li><%= link_to "SOINS", soinvisages_path %></li>
                <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

            </div>
<div class="false-menu"></div>
<div class="under-menu">
<h1 class="text-center">Mentions légales</h1>
<span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>

<p>
<div class="container">
<h2>Protection des données personnelles et respect de la loi du 6 janvier 1978</h2>
<p>Conformément à la loi Informatique et Libertés du 6 janvier 1978 et au Règlement Général sur la Protection des Données, vous disposez du droit d’accéder à vos données personnelles, de les rectifier, de vous opposer à leur traitement ou d’en obtenir la limitation, l’effacement ou leur portabilité lorsque cela est applicable.

​<br />

Par ailleurs, vous pouvez à tout moment retirer votre consentement pour les traitements qui seraient fondés sur celui-ci, ou demander à ne plus recevoir nos communications relatives aux informations, annonces, vœux, newsletters ainsi qu’aux invitations à des événements organisés par Relook Esthetique.
Ces données sont celles que vous aurez volontairement enregistrées lors de vos réponses aux questionnaires, ou lors de demandes d’information. Aucune information personnelle vous concernant n’est cédée à des tiers ou utilisée à des fins non prévues.
<br />
La société PATRICIA conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une preuve de la transaction comprenant le bon de commande et la facture.
<br />
Nous contacter: <br/>
Par email : relookesthetique@gmail.com</p>
<p>






En savoir plus sur la protection des données personnelles : https://www.cnil.fr/fr/protection-des-donnees-les-bons-reflexes.
</p>
<h2>Création et propriété du site internet</h2>
<p>
Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site relookesthetique.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
</p>
<p>
Edition du site: <br />
Le site relookesthetique.fr est édité par la société PATRICIA, demeurant au 225 chemin saint georges, 13150 TARASCON, immatriculée au répertoire des entreprises et établissements de l'INSEE sous le numéro 480 263 128 00039, agissant en sa qualité d'Entrepreneur individuel.
</p>
<h2>Hébergeur</h2>
<p>
Le site relookesthetique.fr est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311).

</p>
<h2>Avertissement aux utilisateurs</h2>

​<p>

L’éditeur s’efforce d’assurer au mieux de ses possibilités que les informations diffusées sur le site soient exactes et mise à jour. www.relookesthetique.fr se réserve le droit de corriger à tout moment et sans préavis le contenu de son site.
</p></div>

