<div class="navmenu-presta">
            
                
                <li><%= link_to "EPILATIONS", epilations_path %></li>
                <li><%= link_to "MASSAGES", massages_path %></li>
                <li><%= link_to "SOINS", soinvisages_path %></li>
                <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

</div>

<div class="false-menu"></div>
<div class="under-menu">
     <h1 class="under-title">Nous contacter</h1>
     <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>

<div class="container">
<h2 class="text-center contact-title">Réservez votre soin par téléphone au <br /> 04 90 91 04 73 ou au 06 13 57 71 58</h2>
<p class="text-center">ou contactez nous via le formulaire ci-dessous</p>
<div class="form-container">

    <%= simple_form_for (@contact) do |f| %>
      <%= f.input :name, label: 'Nom' %>
      <%= f.input :phone, label: 'Numéro de téléphone' %>
      <%= f.input :email, autocomplete: "email", placeholder: "* Veuillez fournir une adresse email valide" %>
      <%= f.input :content, label: 'En quoi pouvons nous vous aider ?', placeholder: "Bonjour, je souhaiterai en savoir plus sur vos disponibilités et tarifs pour les services suivants :."%>
      <%= f.submit "Envoyer", class: "btn btn-secondary btn-lg btn-block"%>
     <% end %>
</div>
</div>