<div class="navmenu-presta">
            
                
                <li><%= link_to "EPILATIONS", epilations_path %></li>
                <li><%= link_to "MASSAGES", massages_path %></li>
                <li><%= link_to "SOINS", soinvisages_path %></li>
                <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>

</div>

<div class="false-menu"></div>
<div class="under-menu">
     <h1 class="under-title">Nous contacter</h1>
     <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>

<div class="container">
<h3>Merci pour votre message, nous allons répondre à votre demande au plus vite.</h3>
</div>