<%# <%= form_for([@bc_epilation, @order_item], remote: true) do |f| %>
<%#  <%= f.hidden_field :orderitemable_type, value: "Epilation" %>
<%#  <%= f.hidden_field :orderitemable_id, value: @bc_epilation.id %>
<%#  <%= f.hidden_field :quantity, value: 1 %>
<%#  <% @order_item = @boncadeau %>
<%#  <% p @order_item %>
<%#  <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %>
<%# <% end %>


<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>

  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>

<div class="false-menu"></div>

<div class="under-menu">
  <h1 class="under-title">Epilation</h1>
  <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>

<div class="container">

 <%# <p>Épilation toutes zones pour les femmes.<br />
    Épilation Messieurs : Sourcils, Narines, Oreilles, Torse, Dos. <br /> %>
 <p>Pionnier et expert de l’épilation, PERRONT RIGOT répond à tous les besoins de façon ciblée et adaptée par ses différentes cires. Après chaque épilation, des soins « ralentisseurs de pousse de poils » et « spécial poils incarnés » sont utilisés.<br />
  <span class="forfait">Forfait 1/2 Jambes</span> : Lèvres + sourcils + 1/2 jambes + maillot intégral ou intégral + aisselles<br />
  <span class="forfait">Forfait Jambes entières</span> : Lèvres + sourcils + jambes entières + maillot intégral ou intégral + aisselles %>
  </p>

    <div class="makeup-container">

    <div class="card-wrapper">
      <% @epilations.each do |epilation| %>
        <div class="cards">
          <%# <div class="service"> %>
          <div class="presta-name">
              <%= epilation.name %><%#<%= " " if epilation.description != "" %>
              <%#<%= epilation.description %><%= " " if epilation.price != "" %>
          </div>
          <div class="presta-price">
            <%= form_for([epilation, @order_item], remote: true) do |f| %>
              <%= f.hidden_field :orderitemable_type, value: "Epilation" %>
              <%= f.hidden_field :orderitemable_id, value: epilation.id %>
              <%= f.hidden_field :quantity, value: 1, min: 1, class: 'form-control' %>
              <%= humanized_money_with_symbol(epilation.price) %>
              <%= f.submit "Offrir", class: 'btn btn-ghost2 btn-sm' %>
            <% end %>
          </div>
            <% if !epilation.description.nil? %>
              <span class="plus"><%= link_to epilation_path(epilation) do %></span>
                <i class="fas fa-angle-right"></i>
              <% end %>
            <% end %>
            <% if policy(Epilation).destroy? %>
              <p>
                <%= link_to "del",
                  epilation_path(epilation),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </p>
            <% end %>
          </div>
         <% end %>
    </div>
    <div class="epil-bann"></div>
  </div>
  <% if policy(Epilation).new? %>
    <p>
      <%= link_to "Nouvelle Prestation", new_epilation_path %>
    </p>
  <% end %>
</div>



