<%# <%= form_for([@bc_epilation, @order_item], remote: true) do |f| %>
<%#  <%= f.hidden_field :orderitemable_type, value: "Epilation" %>
<%#  <%= f.hidden_field :orderitemable_id, value: @bc_epilation.id %>
<%#  <%= f.hidden_field :quantity, value: 1 %>
<%#  <% @order_item = @boncadeau %>
<%#  <% p @order_item %>
<%#  <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %>
<%# <% end %>


<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>

  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>

<div class="false-menu"></div>

<div class="under-menu">
  <h1 class="under-title">Les Soins du Visages</h1>
</div>

<div class="container">
  <p>Description</p>
  <div class="makeup-container">
    <div class="card-wrapper">
      <% @epilations.each do |epilation| %>
        <div class="cards">
          <div class="service">
            <%= form_for([epilation, @order_item], remote: true) do |f| %>
              <%= f.hidden_field :orderitemable_type, value: "Epilation" %>
              <%= f.hidden_field :orderitemable_id, value: epilation.id %>
              <%= epilation.name %><%= " " if epilation.description != "" %>
              <%= epilation.description %><%= "~" if epilation.price != "" %>

              <div class="form-group">
                <%= f.number_field :quantity, value: 1, min: 1, class: 'form-control' %>
              </div>

              <div class="service-price">
                <span class="price">
                 <%= humanized_money_with_symbol(epilation.price) %>
                </span>
                <%= f.submit "Offrir", class: 'btn btn-ghost2 btn-sm' %>
              </div>
            <% end %>
            <%= link_to "En savoir plus", epilation_path(epilation) %>
            <% if policy(Epilation).destroy? %>
              <p>
                <%= link_to "del",
                  epilation_path(epilation),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if policy(Epilation).new? %>
    <p>
      <%= link_to "Nouvelle Prestation", new_epilation_path %>
    </p>
  <% end %>
</div>



