<% if !@order_item.nil? && @order_item.errors.any? %>
  <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<% if @carts.length>0 %>
  <% @carts.each do |cart| %>
    <% order_item = cart[0] %>
    <% presta = cart[1] %>
    <div class="well">
      <div class="row">
        <div class="col-sm-8">
          <h3><%= presta.name %></h3>
        </div>
        <div class="col-sm-4">
          <div class="pull-right">
            <%= form_for([presta, order_item], remote: true) do |f| %>

              <%= f.hidden_field :product_id, value: order_item.id %>
              <h5>prix : <%= order_item.unit_price/100 %></h5>
              <div class="form-group">
                <%= f.text_field :quantity, value: order_item.quantity.to_i, min: 1, class: 'form-control' %>
              </div>
              <div class="btn-group">
                <%= f.submit "Update Quantity", class: 'btn btn-primary' %>
                <%= link_to "Delete", [presta, order_item], method: :delete, remote: true, class: 'btn btn-danger'  %>
              </div>
              <span>Sous Total : <%= order_item.total_price/100 %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <h3>TOTAL : </h3>
<% end %>
