<% if !@order_item.nil? && @order_item.errors.any? %>
  <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>
  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>


<div class="false-menu"></div>
<div class="under-menu">
<h1 class="under-title">Caddie</h1>


</div>
<div class="container">
<div class="caddie-container">
<% if @orders.length>0 %>
  <% @orders.each do |order| %>

   <div>
    <% if order.order_items.length>0 %>

      <!--- pour l'instant seule façon de classer les order_items avec la variable oi --->
      <% oi = order.order_items.sort_by &:created_at %>
      <% oi.each do |order_item| %>

        <div class="well">
          <div class="row">
            <div class="col-sm-8">
              <h3><%= order_item.orderitemable.name %></h3>
            </div>
            <div class="col-sm-4">
              <div class="pull-right">
                <%= form_for([order_item.orderitemable, order_item], remote: true) do |f| %>

                  <%= f.hidden_field :product_id, value: order_item.id %>
                  <h5>prix : <%= order_item.unit_price/100 %></h5>
                  <div class="form-group">
                    <%= f.text_field :quantity, value: order_item.quantity.to_i, min: 1, class: 'form-control' %>
                  </div>
                  <div class="btn-group">
                    <%= f.submit "Update Quantity", class: 'btn btn-primary' %>
                    <%= link_to "Delete", [order_item.orderitemable, order_item], method: :delete, remote: true, class: 'btn btn-danger'  %>
                  </div>
                  <span>Sous Total : <%= order_item.total_price/100 %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <h3>TOTAL : <%= order.subtotal_price/100 %></h3>
       <div class="btn-group">
        <%= form_for order, :url => new_order_payment_path(order), :method => :get do |f| %>
        <%= f.submit "Payement", class: 'btn btn-primary' %>
        <!--
        < %= link_to "Payer", redirect_to new_order_payment_path(order), remote: true, class: 'btn btn-danger'  %>
        -->
        <% end %>

      </div>
    <% end %>
    </div>
  <% end %>

<% end %>
</div>
</div>
<%# <span>Photo by <a href="https://unsplash.com/@primal_harmony?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Chelsea shapouri</a> on <a href="https://unsplash.com/s/photos/massage?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> %>