<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>

  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>

<div class="false-menu"></div>
<div class="under-menu">
  <h1 class="under-title">Soins du Visages</h1>
  <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>

<div class="container">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    BON CADEAU
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Donner un prix à votre bon</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="2" data-slider-max="78" data-slider-step="1" data-slider-value="5"/>
          <!-- <span id="ex1CurrentSliderValLabel"><span id="ex1SliderVal"></span></span> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <%= form_for([@bc_soinvisage, @order_item], remote: true) do |f| %>
           <%= f.hidden_field :orderitemable_type, value: "Soinvisage" %>
           <%= f.hidden_field :orderitemable_id, value: @bc_soinvisage.id %>
           <%= f.hidden_field :quantity, value: 1 %>
           <% @order_item = @boncadeau %>
           <% p @order_item %>
           <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %>
          <% end %>
        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Offrir</button> -->
        </div>
      </div>
    </div>
  </div>

  <p>Soins du visage spécifiques et anti-âge pour retrouver une peau éclatante.

Aidez votre peau à se préserver et à lutter efficacement contre les signes du temps.
Notre gamme comprend une large palette de produits cosmétiques naturels 100% Bio à base d’Aloe vera et d’Alginates (algues) répondant aux besoins de toutes les peaux.

Ces soins sont le premier pas vers une peau saine et en bonne santé.

Les produits utilisés pour les soins sont aussi disponible à la vente.
Mes compléments alimentaires sont une bonne aide pour rééquilibrer votre peau.<br /><br />
    <span class="forfait">Forfait Matinée ou Après midi « Bien être » :</span>(3h) Soins du visage + modelage du corps + manucures<br />
  </p>
  <div class="makeup-container">
    <div class="card-wrapper">
      <% @soinvisages.each do |soinvisage| %>
        <div class="cards">
          <div class="presta-name">
              <%= soinvisage.name %><%#<%= " " if soinvisage.description != "" %>
              <%#<%= soinvisage.description %><%= " " if soinvisage.price != "" %>
          </div>
          <div class="presta-price">
            <%= form_for([soinvisage, @order_item], remote: true) do |f| %>
              <%= f.hidden_field :orderitemable_type, value: "Soinvisage" %>
              <%= f.hidden_field :orderitemable_id, value: soinvisage.id %>
              <%= f.hidden_field :quantity, value: 1, min: 1, class: 'form-control' %>
              <%= humanized_money_with_symbol(soinvisage.price) %>
              <%= f.submit "Offrir", class: 'btn btn-ghost2 btn-sm' %>
            <% end %>
          </div>
          <% if !soinvisage.description.nil? %>
            <span class="plus"><%= link_to soinvisage_path(soinvisage) do %></span>
              <i class="fas fa-angle-right"></i>
            <% end %>
          <% end %>
          <% if policy(Soinvisage).destroy? %>
            <p>
              <%= link_to "del",
                soinvisage_path(soinvisage),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  <div class="soinvisage-bann"></div>
  </div>
  <% if policy(Soinvisage).new? %>
    <p>
      <%= link_to "Nouvelle Prestation", new_soinvisage_path %>
    </p>
  <% end %>
</div>
