<h1>Les Soins du Visages</h1>

<div class = "container">
  <% @soinvisages.each do |soinvisage| %>
    <div class="cards">
        <%= soinvisage.name %>
        </br>
        <%= soinvisage.description %>
        </br>
        <% if soinvisage.photo.attached? %>
          <%= cl_image_tag soinvisage.photo.key, height: 300, width: 400, crop: :fill %>
          </br>
        <% end %>
        <%= link_to "En savoir plus", soinvisage_path(soinvisage) %>
        </br>
        <% if policy(Soinvisage).destroy? %>
          <%= link_to "del",
            soinvisage_path(soinvisage),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        <% end %>
    </div>
  <% end %>
</div>
<% if policy(Soinvisage).new? %>
<%= link_to "Nouvelle Prestation", new_soinvisage_path %>
<% end %>
<%= link_to "retour", root_path %>
