<%# <%= form_for([@bc_soinvisage, @order_item], remote: true) do |f| %>
<%#  <%= f.hidden_field :orderitemable_type, value: "Soinvisage" %>
<%#  <%= f.hidden_field :orderitemable_id, value: @bc_soinvisage.id %>
<%#  <%= f.hidden_field :quantity, value: 1 %>
<%#  <% @order_item = @boncadeau %>
<%#  <% p @order_item %>
<%#  <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %>
<%# <% end %>


<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>

  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>

<div class="false-menu"></div>
<div class="under-menu">
  <h1 class="under-title">Soins du Visages</h1>
  <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>

<div class="container">
  <p>Les soins spécifiques pour hommes, pour femmes et pour les juniors sont devenus des incontournables lorsque l'on souhaite prendre soin de sa peau.
Aidez votre peau à se préserver et à lutter contre les signes du temps avec notre gamme exclusive à l'aloe vera 100% bio.<br />
De nombreuses études ont démontré l'efficacité de ce trésor botanique qu'est l'aloe véra..
</p>
  <div class="makeup-container">

    <div class="card-wrapper">
    <h3>Soins du visage</h3>
      <% @soinvisages.each do |soinvisage| %>
        <div class="cards">
        <% if soinvisage.description == "Soins du visage"%> 
            <div class="presta-name">
                <%= soinvisage.name %>
                <%= " " if soinvisage.price != "" %>
            </div>

            <div class="presta-price">
              <%= form_for([soinvisage, @order_item], remote: true) do |f| %>
                <%= f.hidden_field :orderitemable_type, value: "Soinvisage" %>
                <%= f.hidden_field :orderitemable_id, value: soinvisage.id %>
                <%= f.hidden_field :quantity, value: 1, min: 1, class: 'form-control' %>
                <%= humanized_money_with_symbol(soinvisage.price) %>
                <%= f.submit "Offrir", class: 'btn btn-ghost2 btn-sm' %>
              <% end %>
            </div> 


            <% if policy(Soinvisage).destroy? %>
              <p>
                <%= link_to "del",
                  soinvisage_path(soinvisage),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </p>
            <% end %>
        <%end %>
        </div>
        
      <% end %>

        <h3>Soins Esthétiques</h3>

      <% @soinvisages.each do |soinvisage| %>

              <div class="cards">
<% if soinvisage.description == "Soins Esthétiques"%> 
                  <div class="presta-name">
                      <%= soinvisage.name %>
                      <%= " " if soinvisage.price != "" %>
                  </div>

                  <div class="presta-price">
                    <%= form_for([soinvisage, @order_item], remote: true) do |f| %>
                      <%= f.hidden_field :orderitemable_type, value: "Soinvisage" %>
                      <%= f.hidden_field :orderitemable_id, value: soinvisage.id %>
                      <%= f.hidden_field :quantity, value: 1, min: 1, class: 'form-control' %>
                      <%= humanized_money_with_symbol(soinvisage.price) %>
                      <%= f.submit "Offrir", class: 'btn btn-ghost2 btn-sm' %>
                    <% end %>
                  </div> 


                  <% if policy(Soinvisage).destroy? %>
                    <p>
                      <%= link_to "del",
                        soinvisage_path(soinvisage),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
                    </p>
                  <% end %>
                <% end %>
              </div>
              
      <% end %>


    </div>
 
    <div class="soinvisage-bann">
    <img class="aloe-logo" src="https://res.cloudinary.com/dsmxleyf5/image/upload/v1618152192/bd80lj1g0br4g3gwa43q.png" alt="logo-aloevera">
    </div>

  </div>
    
    <% if policy(Soinvisage).new? %>
      <p>
        <%= link_to "Nouvelle Prestation", new_soinvisage_path %>
      </p>
    <% end %>

</div>

<%# <div class="menu-button"><i class="fas fa-bars fa-3x"></i></div>
<div class="call-button"><a href="tel:+33500000000"><i class="fas fa-phone"></a></i></div> %>
