<%# <%= form_for([@bc_soinvisage, @order_item], remote: true) do |f| %>
<%#  <%= f.hidden_field :orderitemable_type, value: "Soinvisage" %>
<%#  <%= f.hidden_field :orderitemable_id, value: @bc_soinvisage.id %>
<%#  <%= f.hidden_field :quantity, value: 1 %>
<%#  <% @order_item = @boncadeau %>
<%#  <% p @order_item %>
<%#  <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %>
<%# <% end %>


<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>

  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>

<div class="false-menu"></div>
<div class="under-menu">
  <h1 class="under-title">Soins du Visages</h1>
  <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>

<div class="container">
  <p>Soins du visage spécifiques et anti-âge pour retrouver une peau éclatante.

Aidez votre peau à se préserver et à lutter efficacement contre les signes du temps.
Notre gamme comprend une large palette de produits cosmétiques naturels 100% Bio à base d’Aloe vera et d’Alginates (algues) répondant aux besoins de toutes les peaux.

Ces soins sont le premier pas vers une peau saine et en bonne santé.

Les produits utilisés pour les soins sont aussi disponible à la vente.
Mes compléments alimentaires sont une bonne aide pour rééquilibrer votre peau.<br /><br />
    <span class="forfait">Forfait Matinée ou Après midi « Bien être » :</span>(3h) Soins du visage + modelage du corps + manucures<br />
</p>
  <div class="makeup-container">

    <div class="card-wrapper">
      <% @soinvisages.each do |soinvisage| %>
        <div class="cards">
          <div class="presta-name">
              <%= soinvisage.name %><%= " " if soinvisage.description != "" %>
              <%= soinvisage.description %><%= " " if soinvisage.price != "" %>
          </div>
          <div class="presta-price">
            <%= form_for([soinvisage, @order_item], remote: true) do |f| %>
              <%= f.hidden_field :orderitemable_type, value: "Soinvisage" %>
              <%= f.hidden_field :orderitemable_id, value: soinvisage.id %>

              
                <%= f.hidden_field :quantity, value: 1, min: 1, class: 'form-control' %>
              

              <%# <div class="service-price">
                <span class="price"> %>
                 <%= humanized_money_with_symbol(soinvisage.price) %>
                <%# </span> %>
                <%= f.submit "Offrir", class: 'btn btn-ghost2 btn-sm' %>
              <%# </div> %>
            <% end %>
            </div> 
             <span class="plus"><%= link_to soinvisage_path(soinvisage) do %> </span>
             <i class="fas fa-angle-right"></i>
            <% end %>
            <% if policy(Soinvisage).destroy? %>
              <p>
                <%= link_to "del",
                  soinvisage_path(soinvisage),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </p>
            <% end %>
          </div>
        <%# </div> %>
      <% end %>
    </div>
  <%# </div> %>
  <div class="soinvisage-bann"></div>
  <%# <span>Photo by <a href="https://unsplash.com/@raphaellovaski?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Raphael Lovaski</a> on <a href="https://unsplash.com/@raphaellovaski?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> %>
  </div>
  <% if policy(Soinvisage).new? %>
    <p>
      <%= link_to "Nouvelle Prestation", new_soinvisage_path %>
    </p>
  <% end %>
</div>

<%# <div class="menu-button"><i class="fas fa-bars fa-3x"></i></div>
<div class="call-button"><a href="tel:+33500000000"><i class="fas fa-phone"></a></i></div> %>
