<div class = "container">
  <div class="cards">
    <%= @soinvisage.name %>
    </br>
    <%= @soinvisage.rich_content %>
    </br>
    <% if @soinvisage.photo.attached? %>
      <%= cl_image_tag @soinvisage.photo.key, height: 300, width: 400, crop: :fill %>
      </br>
    <% end %>
    <%= @soinvisage.description %>
    </br>
    <% if policy(Soinvisage).edit? %>
      <%= link_to "Editer", edit_soinvisage_path(@soinvisage) %>
    <% end %>
  </div>
</div>
