<%# <%= form_for([@bc_maquillage, @order_item], remote: true) do |f| %>
  <%# <%= f.hidden_field :orderitemable_type, value: "Maquillage" %>
  <%# <%= f.hidden_field :orderitemable_id, value: @bc_maquillage.id %>
  <%# <%= f.hidden_field :quantity, value: 1 %>
  <%# <% @order_item = @boncadeau %>
  <%# <% p @order_item %>
  <%# <%= f.submit "BON CADEAU", class: 'btn btn-primary btn-sm' %>
<%# <% end %>
<div class="navmenu-presta">
  <%# <li><%= link_to "ACCUEIL", root_path%>
  <%# </li> %>
  <%# <li><a href="#about">A PROPOS</a></li> %>

  <div class="logo"></div>
  <li><%= link_to "EPILATIONS", epilations_path %></li>
  <li><%= link_to "MASSAGES", massages_path %></li>
  <li><%= link_to "SOINS DU VISAGE", soinvisages_path %></li>
  <li><%= link_to "MAQUILLAGE PERMANENT", maquillages_path %></li>
</div>
<div class="false-menu"></div>
<div class="under-menu">
  <h1 class="under-title">Maquillage Permanent</h1>
  <span class="retour-accueil"><%= link_to "ACCUEIL", root_path %></span>
</div>
<div class="container">
  <p>Soyez sublime à tout moment de la journée grâce au maquillage permanent.
     Pour votre confort et votre sécurité, nous vous proposons un travail de qualité dans un cadre adapté avec du matériel et des pigments aux normes.
     Relook Esthétique s’engage à respecter les règles d’hygiène du ministère de la santé.
  </p>
  <div class="makeup-container">
    <div class="card-wrapper">
      <% @maquillages.each do |maquillage| %>
        <div class="cards">
          <%# <div class="service"> %>
          <div class="presta-name">
              <%= maquillage.name %><%#<%= " " if maquillage.description != "" %>
              <%#<%= maquillage.description %><%= " " if maquillage.price != "" %>
          </div>

          <div class="presta-price">
            <%= form_for([maquillage, @order_item], remote: true) do |f| %>
              <%= f.hidden_field :orderitemable_type, value: "Maquillage" %>
              <%= f.hidden_field :orderitemable_id, value: maquillage.id %>


              <%# <div class="form-group"> %>
                <%= f.hidden_field :quantity, value: 1, min: 1, class: 'form-control' %>
              <%# </div> %>

              <%# <div class="service-price"> %>

                <%= humanized_money_with_symbol(maquillage.price) %>

                <%= f.submit "Offrir", class: 'btn btn-ghost2 btn-sm' %>
              <%# </div> %>
            <% end %>
         </div>
          <% if !maquillage.description.nil? %>
              <span class="plus"><%= link_to maquillage_path(maquillage) do %></span>
                <i class="fas fa-angle-right"></i>
              <% end %>
          <% end %>
          <% if policy(Maquillage).destroy? %>
            <p>
              <%= link_to "del",
                maquillage_path(maquillage),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
            </p>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="makeup-bann"></div>
  </div>

  <% if policy(Maquillage).new? %>
    <p>
      <%= link_to "Nouvelle Prestation", new_maquillage_path %>
    </p>
  <% end %>
</div>
